@model MvcApplication1.Models.User

<div class="myEventDiv well pagination-centered">
	<p>Du har fått ett mail gällande lösenordsbyte!</p>
	<p>@Html.ActionLink("Tillbaka till login", "Login", "User")</p>
</div>
