@model MvcApplication1.Models.Month


<div class="eventDiv well pagination-centered">
    <h2>Ange nytt lösenord</h2>
    <div class="control-group">
        <form method="post" action="/user/reset">
            @Html.HiddenFor(t => t.Token)
            <p>Email: </p><input type="text" name="email" />
            <p>Nytt lösenord:</p> <input type="password" name="newPassword" /> <br />
            <button class="btn btn-primary" type="submit">Spara</button>
        </form>
    </div>
</div>
