@model MvcApplication1.Models.User

<div class="eventDiv well pagination-centered">
    <ul class="nav nav-pills ">
        <li>@Html.ActionLink("Logga in", "LogIn", "User")</li>
    </ul>
    <hr />
    <h2>Glömt lösenord?</h2>
    <div class="control-group">
        @using (Html.BeginForm())
        {
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email)
            <p>@Html.ValidationMessageFor(model => model.Email)</p>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary"/>Skicka mail!
                </div>
            </div>
        }
    </div>
</div>
